<div style="margin: 20px;">
    @for (mailFilter of mailFilters; track mailFilter) {
    <div [contextMenu]="oneContextMenu" [contextMenuValue]="mailFilter" class="card p-3">
        <div class="row">
            <div class="col-sm-4">{{ mailFilter.filter }}</div>
            <div class="col-sm-4 text-center">{{ mailFilter.accountName }}</div>
            <div class="col-sm-4 text-end"> {{ mailFilter.filter_function }} </div>
        </div>
        <div class="row mail-filter-item">
            <div class="col-sm-6">{{ mailFilter.debit_conditions_json }}</div>
            <div class="col-sm-6 text-end"> {{ mailFilter.credit_conditions_json }} </div>
        </div>
    </div>
    }
    <div *ngIf="mailFilters == null || mailFilters.length == 0" class="no-mail-filter-header">
        No mail filter mappings are available
    </div>
</div>

<context-menu #oneContextMenu [menuClass]="'app-manage-mail-filters-menu'">
    <ng-template contextMenuItem (execute)="update($event)" let-value>Update</ng-template>
    <ng-template contextMenuItem (execute)="delete($event)" let-value>Delete</ng-template>
</context-menu>