<div class="container mt-2" id="auto-mail-trans-section">
    <h5 style="margin-bottom: 40px;">
        Transaction Reader from Emails
        <button class="float-end btn btn-danger" *ngIf="signedIn" (click)="signOut()"><i class="bi bi-box-arrow-right"></i><span> Sign Out</span></button>
        <button class="float-end btn btn-warning me-2" (click)="readGoogle()"><i class="bi bi-google"></i><span> {{ signedIn ? 'Read' : 'Sign In'}}</span></button>
    </h5>
    @for (acc_cat of mail_trans_cat; track acc_cat; let i = $index) {
    <div class="card">
        <h6 class="card-header bg-dark">
            {{ acc_cat.accName }}
            <mat-icon (click)="deleteItem(acc_cat)">delete_forever</mat-icon>
        </h6>
        <div class="card-body">
            @for (trans of acc_cat.data; track trans; let idx = $index) {
            <div class="card-text row pt-1">
                <div class="col-md-4">{{ trans?.trans_desc }}</div>
                <div class="col-md-4 text-center" style="width: 25%;">{{ utilService.formatDate(utilService.getDate(trans?.trans_date)) }}</div>
                <div class="col-md-4 text-end" style="width: 25%;" [ngClass]="getAmountClass(trans.trans_type)">{{ utilService.formatAmountWithComma(trans?.trans_amt) }}
                </div>
                <div class="btn-group col-md-4" style="width: 16.66%;" role="group" aria-label="Action Buttons">
                    <button type="button" class="btn btn-success" (click)="acceptItem(trans, acc_cat)">
                        <mat-icon>check_circle</mat-icon>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="rejectItem(trans, acc_cat)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
    }
    <div class="text-center">
        <button class="btn btn-primary" (click)="cleanUp()"><i class="bi bi-delete"></i><span> Clean Up</span></button>
    </div>
</div>

<button id="confirmBtn" type="button" data-toggle="modal" class="d-none" data-target="#confirmDialog">Launch
    modal</button>

<app-confirm-dialog (onConfirmSubmit)="confirm($event)" [modalBody]="modalBody" [modalTitle]="modalTitle" [confirmObj]="confirmData" [canClose]="canClose"
    [modalMainButton]="modalBtnName"></app-confirm-dialog>