<div style="margin: 20px;">
    @for (mutualFund of mutualFunds; track mutualFund) {
    <div [contextMenu]="oneContextMenu" [contextMenuValue]="mutualFund" class="p-2 card">
        <div class="row mail-filter-item">
            <div class="col-sm-2 schemeCode">{{ mutualFund.scheme_code }}</div>
            <div class="col-sm-6 font-weight-bold"> {{ mutualFund.scheme_name }} </div>
            <div class="col-sm-2 adj-w-50">{{ mutualFund.nav_amount }}</div>
            <div class="col-sm-2 adj-w-50">{{ mutualFund.nav_date }}</div>
        </div>
    </div>
    }
    <div *ngIf="mutualFunds == null || mutualFunds.length == 0" class="no-mf-header">
        No mutual funds available !!
    </div>
</div>

<context-menu #oneContextMenu [menuClass]="'app-manage-mf-menu'">
    <ng-template contextMenuItem (execute)="update($event)" let-value>Update</ng-template>
    <ng-template contextMenuItem (execute)="delete($event)" let-value>Delete</ng-template>
</context-menu>