@media (max-width: 575px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 72%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 28%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

#all-transactions-section {
    padding-bottom: 40px;
}

.transaction-item {
    font-size: 10px;
    border-radius: 5px;
}

.paginator {
    font-size: 10px;
}

.no-trans-header {
    padding: 10px;
    text-align: center;
}

.selected {
    border: 1px dashed black;
    opacity: 0.4;
}

::ng-deep #selectAllDiv .mdc-label {
    margin-top: .5rem !important;
    margin-left: .5rem !important;
    display: inline-flex;
    align-items: center;
}

.action-icons .mat-icon:not(:last-child) {
    margin-right: 1px;
}