<div class="container mt-2" id="all-transactions-section">
    <h3>{{ transactionHeader }}</h3>
    <h4 *ngIf="inputAccountData != null && inputAccountData.id != null">Balance: <span
            class="float-end font-weight-bold "
            [ngClass]="utilService.formatStringValueToAmount(showAmount) < 0 ? 'negative-val': 'positive-val'">{{
            showAmount }}</span></h4>
    @for (transaction of transactions; track transaction) {
    <div [contextMenu]="oneContextMenu" [contextMenuValue]="transaction"
        [classList]="getMoneyVal(transaction, 'transaction-item ps-2 pe-2 pt-2 ', 'bg-danger-subtle', 'bg-success-subtle')">
        <div class="row">
            <div class="col-sm-6 font-weight-bold" style="font-size: 16px;">{{ transaction.description }}</div>
            <div class="col-sm-6 text-end">
                <mat-icon *ngIf="transaction.is_delivered == '1'" class="text-end"
                    style="color: green;">shopping_cart</mat-icon>
                <mat-icon
                    *ngIf="transaction.is_delivery_order == '1' && (transaction.is_delivered == undefined || transaction.is_delivered == '0')"
                    class="text-end" style="color: grey;">add_shopping_cart</mat-icon>
                <mat-icon *ngIf="transaction.receiptImgId != null" class="text-end" (click)="update(content, transaction, true)">image</mat-icon>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">{{ transaction.acc_name }}</div>
            <div class="col-sm-4 text-center">{{ transaction.date }}</div>
            <div style="font-size: 16px;"
                [classList]="getMoneyVal(transaction, 'col-sm-4 text-end font-weight-bold ', 'negative-val', 'positive-val')">
                {{ transaction.amount }}
            </div>
        </div>
    </div>
    }
    <div *ngIf="transactions == null || transactions.length == 0" class="no-trans-header">
        No transactions available for the selected filter. Please change the selection filter to view transactions.
    </div>
    <div *ngIf="transactions != null && transactions.length > 0" class="text-center paginator mt-3">
        <span class="pe-3">Showing {{ (transactionStartOffset + 1) }} - {{ transactionStartOffset + noOfRecordsFetched
            }} of {{ totalRecords }} records </span>
        <div class="btn-group" role="group" aria-label="Navigator">
            <button type="button" class="btn btn-outline-primary" (click)="prev()"
                [disabled]="disablePrev">&lt;</button>
            <button type="button" class="btn btn-outline-primary" (click)="next()"
                [disabled]="disableNext">&gt;</button>
        </div>
    </div>
</div>

<context-menu #oneContextMenu [menuClass]="'app-trans-context-menu'">
    <ng-template contextMenuItem (execute)="update(content, $event)" let-value>Update</ng-template>
    <ng-template [visible]="showDeleteCopy" contextMenuItem (execute)="delete($event)" let-value>Delete</ng-template>
    <!-- <ng-template contextMenuItem (execute)="update($event)" let-value>Generate Bill</ng-template> -->
    <!-- <ng-template [visible]="showRedeem" contextMenuItem (execute)="update($event)" let-value>Redeem All</ng-template> -->
    <!-- <ng-template [visible]="showRedeem" contextMenuItem (execute)="update($event)" let-value>Redeem
        Partial</ng-template> -->
    <ng-template [visible]="showMarkDelivery" contextMenuItem (execute)="markDeliveryOrder($event)" let-value>
        Mark as Delivery Order
    </ng-template>
    <ng-template [visible]="showUnmarkSetDelivery" contextMenuItem (execute)="markDeliveryOrder($event)"
        let-value>Unmark as Delivery Order</ng-template>
    <ng-template [visible]="showUnmarkSetDelivery" contextMenuItem (execute)="setOrderDelivered($event)" let-value>
        Set Order Delivered
    </ng-template>
    <ng-template [visible]="showDeleteCopy" contextMenuItem (execute)="copy($event)" let-value>
        Copy to New Transaction</ng-template>
</context-menu>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="updateTrans.isViewOnly != true">Update Transaction</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="updateTrans.isViewOnly == true">View Transaction Receipt</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <app-update-transaction [updateTransaction]="updateTrans" (formData)="updatedRecord($event)"></app-update-transaction>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Button close')">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveOrUpdate(modifiedRecord)" *ngIf="updateTrans.isViewOnly != true">Update</button>
    </div>
</ng-template>

<button id="confirmBtn" type="button" data-toggle="modal" class="d-none" data-target="#confirmDialog">Launch
    modal</button>

<app-confirm-dialog (onConfirmSubmit)="confirm($event)" [modalBody]="modalBody" [modalTitle]="modalTitle"
    [confirmObj]="confirmData" [canClose]="canClose" [modalMainButton]="'Set'"></app-confirm-dialog>