<div class="container mt-2" id="all-transactions-section">
    <h3>{{ transactionHeader }}</h3>
    @for (transaction of transactions; track transaction) {
    <div [classList]="getMoneyVal(transaction, 'transaction-item ps-2 pe-2 pt-2 ', 'bg-danger-subtle', 'bg-success-subtle')">
        <div class="row">
            <div class="col-sm-6 font-weight-bold" style="font-size: 16px;">{{ transaction.description }}</div>
            <div class="col-sm-6 text-right">Icon Placeholders</div>
        </div>
        <div class="row">
            <div class="col-sm-4">{{ transaction.acc_name }}</div>
            <div class="col-sm-4 text-center">{{ transaction.date }}</div>
            <div style="font-size: 16px;"
                [classList]="getMoneyVal(transaction, 'col-sm-4 text-right font-weight-bold ', 'negative-val', 'positive-val')">
                {{ transaction.amount }}
            </div>
        </div>
    </div>
    }
    <div *ngIf="transactions == null || transactions.length == 0" class="no-trans-header">
        No transactions available for the selected filter. Please change the selection filter to view transactions.
    </div>
    <div *ngIf="transactions != null && transactions.length > 0" class="text-center paginator mt-3">
        <span class="pe-3">Showing {{ (transactionStartOffset + 1) }} - {{ transactionStartOffset + noOfRecordsFetched
            }} of {{ totalRecords }} records </span>
        <div class="btn-group" role="group" aria-label="Navigator">
            <button type="button" class="btn btn-outline-primary" (click)="prev()"
                [disabled]="disablePrev">&lt;</button>
            <button type="button" class="btn btn-outline-primary" (click)="next()"
                [disabled]="disableNext">&gt;</button>
        </div>
    </div>
</div>