<div class="container mt-2" id="manage-mutual-funds-section">
    <h3>Manage Stocks <button *ngIf="selectedTab.value == 0" class="float-end btn btn-success" (click)="refreshStocks()"><i class="bi bi-repeat"></i><span> Refresh</span></button></h3>
    <mat-tab-group animationDuration="300ms" [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)" class="w-100">
        <mat-tab label="Dashboard">
            <ng-template matTabContent>
                <app-manage-stocks (switchTab)="switchTab($event)" (confirmObject)="retrieveConfirmObject($event)" (updateData)="toUpdateRecord($event)"
                    [deleteClicked]="invokeDeleted" [refreshClicked]="invokeRefresh"></app-manage-stocks>
            </ng-template>
        </mat-tab>
        <mat-tab label="Add New / Update">
            <ng-template matTabContent>
                <app-add-stocks (switchTab)="switchTab($event)" [updateRecord]="updateData"></app-add-stocks>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>

<button id="confirmBtn" type="button" data-toggle="modal" class="d-none" data-target="#confirmDialog">Launch
    modal</button>

<app-confirm-dialog (onConfirmSubmit)="confirm($event)" [modalBody]="modalBody" [modalTitle]="modalTitle" [confirmObj]="confirmData" [canClose]="canClose"
    [modalMainButton]="modalBtnName"></app-confirm-dialog>