@media (max-width: 767px) {
    .card-text.row>* {
        width: 33% !important;
    }

    .card-text.row {
        font-size: 13px;
    }

    .card {
        margin-bottom: 0 !important;
    }
}

#all-scheduled-section {
    padding-bottom: 40px;
}

.card-text.row {
    font-size: 14px;
}

.no-trans-header {
    padding: 10px;
    text-align: center;
}