.card-img-top {
    height: 100px;
}

#home-section {
    padding-bottom: 40px;
}

.category-box {
    cursor: pointer;
}

:host ::ng-deep .mat-mdc-list-option-radio-before {
    display: none;
}

@media (max-width: 767px) {
    .row>* {
        width: 33% !important;
    }
}

.category-header {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    background: url('../../../assets/images/banner.gif');
    color: white;
    font-weight: bolder;
}

.no-acc-header {
    padding: 10px;
    text-align: center;
}

.canvas-resizer {
    max-width: 600px;
    width: 100vw;
}

/* Ensure the parent container allows the indicators to exist outside */
.carousel {
    position: relative;
    /* Add padding to prevent the indicators from overlapping 
       other content below the chart */
    padding-bottom: 40px; 
}

/* Position indicators outside */
.carousel-indicators {
    position: absolute;
    bottom: -30px; /* Move below the chart area */
    margin-bottom: 0;
}

::ng-deep.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1rem !important;
}