<div *ngIf="pending_rec_trans.length > 0">
    <h3>Recurring Transactions for Today</h3>
    <ngb-carousel #carousel [interval]="slideInterval" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" [showNavigationArrows]="false"
        (slide)="onSlide($event)">
        @for (trans of pending_rec_trans; track trans; let i = $index) {
        <ng-template ngbSlide>
            <div class="card">
                <h5 class="card-header bg-dark">{{ trans.rec_trans_desc }}</h5>
                <div [classList]="'card-body' + (trans.rec_trans_type == 'DEBIT' ? ' bg-danger-subtle' : ' bg-success-subtle')">
                    <div class="row">
                        <h5 class="" [classList]="getMoneyVal(trans, 'card-title col-md-6 ', 'negative-val', 'positive-val')">
                            {{ utilService.formatAmountWithComma(trans.rec_trans_amount) }}</h5>
                        <h6 class="col-md-6">{{ trans.scheme_name }}</h6>
                    </div>
                    <div class="card-text row">
                        <p class="col-md-4">{{ trans.account_name }}</p>
                        <p class="col-md-4 text-center">Due On {{
                            utilService.formatDate(utilService.getFullDate(trans.rec_trans_date))
                            }}</p>
                        <p class="col-md-4 text-end">Last Executed: {{
                            utilService.formatDate(trans.rec_trans_last_executed) }}
                        </p>
                    </div>
                    <div class="btn-group" role="group" aria-label="Action Buttons">
                        <button type="button" class="btn btn-success" (click)="process(trans)">Process</button>
                        <button type="button" class="btn btn-secondary" (click)="skip(trans)">Skip</button>
                        <button type="button" class="btn btn-secondary" *ngIf="trans.is_paused == '0'" (click)="pause(trans)">Pause</button>
                        <button type="button" class="btn btn-warning" (click)="update(content, trans)">Update</button>
                    </div>
                </div>
            </div>
        </ng-template>
        }
    </ngb-carousel>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Recurring Transaction - {{ updateTrans.rec_trans_desc }}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <app-update-recurring [updateTransaction]="updateTrans" (formData)="updatedRecord($event)"></app-update-recurring>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Button close')">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveOrUpdate(modifiedRecord)">Update</button>
    </div>
</ng-template>