@media (max-width: 767px) {

    .card-text.row>*:not(.rec_trans_date, .rec_trans_last_executed_date) {
        max-width: 50%;
        width: auto;
    }

    .rec_trans_date {
        text-align: left !important;
        width: 60% !important;
    }

    .rec_trans_last_executed_date {
        text-align: left !important;
        width: 60% !important;
    }

    .card-text.row {
        font-size: 13px;
    }

    .card {
        margin-bottom: 0 !important;
    }
}

#all-recurring-section {
    padding-bottom: 40px;
}

.no-trans-header {
    padding: 10px;
    text-align: center;
}

@media (min-width: 768px) {

    .rec_acc_name,
    .rec_trans_last_executed_date {
        text-align: center !important;
    }

    .card-text.row {
        font-size: 14px;
    }
}