.mat-icon.scroller {
    position: fixed;
    bottom: 50px;
    right: 0px;
    height: 40px;
    width: 40px;
    font-size: 40px;
    color: darkcyan;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.show-alert div {
    display: none;
}