<div style="margin: 20px;">
    @for (item of mfMappings; track $index) {
    <div [classList]="getMoneyVal(item, 'row mf-mapping-item ', 'bg-danger-subtle', 'bg-success-subtle')" [contextMenu]="oneContextMenu"
        [contextMenuValue]="item">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12 font-weight-bold">{{item.scheme_name}}</div>
            </div>
            <div class="row small-font">
                <div class="col-sm-6">Code: {{item.scheme_code}}</div>
                <div class="col-sm-6">NAV: {{item.nav_amt}}</div>
            </div>
            <div class="row small-font">
                <div class="col-sm-6">Invested: {{item.inv_amt}}</div>
                <div class="col-sm-6">Units: {{item.units}}</div>
            </div>
            <div class="row small-font">
                <div class="col-sm-6">Last Upd: {{item.nav_date}}</div>
                <div class="col-sm-6">Avg NAV: {{item.avg_nav}}</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row font-weight-bold" style="font-size: 14px;">
                <div [classList]="getMoneyVal(item, 'col-sm-12 text-end ', 'negative-val', 'positive-val')">{{item.curr_amt}}</div>
            </div>
            <div class="row small-font">
                <div class="col-sm-12 text-end purple-val">XIRR: <span class="font-weight-bold">{{item.xirr_val}}%</span></div>
            </div>
            <div class="row small-font">
                <div class="col-sm-12 text-end purple-val">Returns: <span class="font-weight-bold">{{item.abs_return}}%</span></div>
            </div>
        </div>
    </div>
    }
</div>

<context-menu #oneContextMenu [menuClass]="'app-mf-dashboard-context-menu'">
    <ng-template contextMenuItem (execute)="redeem(redeemDialogContent, $event)" let-value>Redeem All</ng-template>
    <ng-template contextMenuItem (execute)="redeem(redeemDialogContent, $event, false)" let-value>Redeem Partial</ng-template>
    <ng-template contextMenuItem (execute)="viewDetails($event)" let-value>View Details</ng-template>
</context-menu>

<ng-template #redeemDialogContent let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">{{dialogTitle}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <app-redeem-mf [mfData]="selectedMfScheme" (formData)="updatedRecord($event)"></app-redeem-mf>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Button close')">Close</button>
        <button type="button" class="btn btn-primary" (click)="confirmRedeem(modifiedRecord)">Redeem</button>
    </div>
</ng-template>