<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Accounts Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="transactionsDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Transactions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="transactionsDropdown">
                        <a class="dropdown-item" href="all-transactions">All Transactions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="all-recurring">Recurring Transactions</a>
                        <a class="dropdown-item" href="all-scheduled">Scheduled Transactions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mail Transactions</a>
                        <a class="dropdown-item" href="#">Transaction Tags</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="manageDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="manageDropdown">
                        <a class="dropdown-item" href="manage-mutual-funds">Manage Mutual Funds</a>
                        <a class="dropdown-item" href="#">Manage Equity Shares</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="admin/manage-home">Manage Admin Activities</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="addDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Add
                    </a>
                    <div class="dropdown-menu" aria-labelledby="addDropdown">
                        <a class="dropdown-item" href="add-transaction">Add Transaction</a>
                        <a class="dropdown-item" href="add-account">Add Account</a>
                        <a class="dropdown-item" href="add-category">Add Category</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="add-mail-filter">Add Mail Filter Mapping</a>
                        <a class="dropdown-item" href="map-mf">Map Mutual Fund</a>
                        <a class="dropdown-item" href="map-stock">Map Stocks</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="logout">Logout</a>
                </li>
            </ul>
            <form class="form-line" (submit)="search()">
                <input class="form-control me-sm-2" type="search" placeholder="Search" aria-label="Search"
                    [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
            </form>
        </div>
    </div>
</nav>