<div class="container mt-2" id="add-mail-filter-section">
    <h3>Add New Mail Filter Mapping</h3>
    <form [formGroup]="form">
        <div class="row">
            <mat-form-field appearance="outline" class="col-md-4 mt-3">
                <mat-label>Filter Text: </mat-label>
                <input type="text" matInput placeholder="Enter Filter Text" name="filterName" required formControlName="filterName">
                <mat-error *ngIf="form.get('filterName')?.value == null || form.get('filterName')?.value == undefined">
                    Valid Filter Text required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4 mt-3">
                <mat-label>Account: </mat-label>
                <mat-select formControlName="account_id" required name="account_id">
                    <mat-option value="">None</mat-option>
                    <mat-option *ngFor="let item of accList" value="{{item.account_id}}">{{item.account_name}}</mat-option>
                </mat-select>
                <mat-error>
                    Valid account required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4 mt-3">
                <mat-label>Function Name: </mat-label>
                <input type="text" matInput placeholder="Function Name" name="functionName" required formControlName="functionName">
                <mat-error *ngIf="form.get('functionName')?.value == null || form.get('functionName')?.value == undefined">
                    Valid function name required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="col-md-4 mt-3">
                <mat-label>Debit Conditions: </mat-label>
                <input type="text" matInput placeholder="Enter Debit Conditions" name="debitConditions" formControlName="debitConditions">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4 mt-3">
                <mat-label>Credit Conditions: </mat-label>
                <input type="text" matInput placeholder="Enter Credit Conditions" name="creditConditions" formControlName="creditConditions">
            </mat-form-field>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-primary me-2" (click)="saveMapping()" [disabled]="!form.valid">Save</button>
            <button class="btn btn-danger" (click)="handleRoute()">Cancel</button>
        </div>
    </form>
</div>