<div class="container justify-content-center align-items-center mt-5 d-flex">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="row">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center">Login</h3>
                    <!-- Form -->
                    <form [formGroup]="form">
                        <!-- Username -->
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username"
                                formControlName="email_id" required>
                        </div>

                        <!-- Password -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password"
                                formControlName="password" required>
                        </div>

                        <!-- Remember Me -->
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="rememberMe"
                                formControlName="stayLoggedIn">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>

                        <!-- Aciton Buttons -->
                        <div class="text-center">
                            <button id="register" type="submit" class="btn btn-primary me-3" (click)="submitSignIn()">Login</button>
                            <button id="reset" type="reset" class="btn btn-danger" (click)="resetForm()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>