@use '@angular/material' as mat;
@include mat.core();
$travel-birds-primary: mat.define-palette(mat.$indigo-palette);
$travel-birds-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$travel-birds-warn: mat.define-palette(mat.$red-palette);

$travel-birds-theme: mat.define-light-theme((color: (primary: $travel-birds-primary,
                accent: $travel-birds-accent,
                warn: $travel-birds-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0));

@include mat.all-component-themes($travel-birds-theme);

:root {
    font-size: 12px;
    /* 1rem = 10px */
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
    padding-left: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.card {
    margin-bottom: 20px;
    --bs-card-spacer-y: .5rem !important;
    --bs-card-spacer-x: .5rem !important;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}

html,
body {
    height: 100%;
    --mdc-checkbox-state-layer-size: 15px;
    --mdc-list-list-item-label-text-size: 13px;
    --mdc-list-list-item-one-line-container-height: 30px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-smoke {
    color: #66615b !important;
}

.font-weight-bold {
    font-weight: 700;
}

.height-1em {
    line-height: 1em;
}

.color-green {
    color: #01c501;
}

@media (min-width: 1400px) {
    .carousel-images div img {
        width: 1320px;
        height: 350px;
    }
}

@media (max-width: 1399px) and (min-width: 1200px) {
    .carousel-images div img {
        width: 1140px;
        height: 350px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .carousel-images div img {
        width: 960px;
        height: 350px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .carousel-images div img {
        width: 720px;
        height: 350px;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .carousel-images div img {
        width: 540px;
        height: 350px;
    }
}

@media (max-width: 575px) {
    .carousel-images div img {
        width: 100vw;
        height: 350px;
    }
}

.negative-val {
    color: #aa1616;
}

.positive-val {
    color: #1e8f16;
}

.cdk-overlay-container,
.cdk-overlay-pane {
    z-index: 9999 !important;
}

.small-font {
    font-size: 8px !important;
}

.purple-val {
    color: purple;
}

.w-33 {
    width: 33% !important;
}

.hyperlink {
    cursor: pointer;
}

.material-icons {
    font-size: 16px;
}

.mat-icon {
    height: 16px !important;
    width: 16px !important;
}

.btn {
    --bs-btn-font-size: 12px;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.25rem;
}

.mdc-checkbox {
    width: 12px !important;
    height: 12px !important;
    flex: 0 0 12px !important;
}

.mdc-form-field {
    --mdc-form-field-label-text-size: 12px !important;
}

.mdc-checkbox__background {
    height: 14px !important;
    width: 14px !important;
}

.row {
    --bs-gutter-x: 1rem;
}

.btn-default {
    --bs-btn-bg: #fdf9ee;
    --bs-btn-border-color: #fdf9ee;
    --bs-btn-hover-bg: #fdfdfd;
    --bs-btn-hover-border-color: #fafdec;
    --bs-btn-active-bg: #fefdfa;
    --bs-btn-active-border-color: #fafdec;
}