@use '@angular/material' as mat;
@include mat.core();
$travel-birds-primary: mat.define-palette(mat.$indigo-palette);
$travel-birds-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$travel-birds-warn: mat.define-palette(mat.$red-palette);

$travel-birds-theme: mat.define-light-theme((color: (primary: $travel-birds-primary,
                accent: $travel-birds-accent,
                warn: $travel-birds-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0));

@include mat.all-component-themes($travel-birds-theme);

body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
    padding-left: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.card {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field {
    --mat-form-field-filled-with-label-container-padding-top: 0px;
    --mat-form-field-filled-with-label-container-padding-bottom: 0px;
    width: 100%;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 0px;
}

.mat-mdc-form-field-infix {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.text-smoke {
    color: #66615b !important;
}

.font-weight-bold {
    font-weight: 700;
}

.height-1em {
    line-height: 1em;
}

.color-green {
    color: #01c501;
}

@media (min-width: 1400px) {
    .carousel-images div img {
        width: 1320px;
        height: 350px;
    }
}

@media (max-width: 1399px) and (min-width: 1200px) {
    .carousel-images div img {
        width: 1140px;
        height: 350px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .carousel-images div img {
        width: 960px;
        height: 350px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .carousel-images div img {
        width: 720px;
        height: 350px;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .carousel-images div img {
        width: 540px;
        height: 350px;
    }
}

@media (max-width: 575px) {
    .carousel-images div img {
        width: 100vw;
        height: 350px;
    }
}

.negative-val {
    color: #911e1e;
}

.positive-val {
    color: #156410;
}