<div class="container mt-2" id="inactive-accounts-section">
    <h3>Manage Inactive Accounts</h3>
    <div *ngIf="inactive_accounts == null || inactive_accounts.length == 0" class="no-trans-header">
        No inactive accounts available.
    </div>
    <div>
        @for (acc of inactive_accounts; track acc; let i = $index) {
        <div class="card" >
            <div class="card-body bg-info-subtle">
                <div class="card-text row">
                    <h6 class="col-md-6"> {{ acc.account_name }}</h6>
                    <h6 class="col-md-3 text-center"> {{ acc.balance }}</h6>
                    <div class="col-md-3 text-end">
                        <mat-icon (click)="activateAccount(acc)">check_circle</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>