.no-trans-header {
    padding: 10px;
    text-align: center;
}

.transaction-item {
    font-size: 10px;
    border-radius: 5px;
}

@media (max-width: 575px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
}