<div style="margin: 20px;">
    <div class="row">
        <div class="col-sm-3 filters-section font-weight-bold">
            Filter By:
        </div>
        <div class="col-sm-9">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Delivery Type</mat-label>
                <mat-select [(value)]="selectedDeliveryType" (selectionChange)="applyFilters()">
                    @for (type of deliveryTypes; track type) {
                        <mat-option [value]="type.id">{{ type.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="text-center mt-2">Found {{ pendingDeliveries.length }} records</div>
    <div class="separator"></div>
    @for (transaction of pendingDeliveries; track transaction) {
    <div [contextMenu]="oneContextMenu" [contextMenuValue]="transaction">
        <div class="row">
            <div class="col-sm-12 font-weight-bold" style="font-size: 12px;">{{ transaction.description }}</div>
        </div>
        <div class="row transaction-item">
            <div class="col-sm-4">{{ transaction.acc_name }}</div>
            <div class="col-sm-4 text-center">{{ transaction.date }}</div>
            @if (transaction.is_group_trans) {
                <div class="col-sm-1">
                    <mat-icon class="text-end" (click)="openTransactionGroup(transaction)">group</mat-icon>
                </div>
                <div class="col-sm-3 text-end" style="font-size: 12px;" [ngClass]="getClassVal(transaction)"> {{ transaction.amount }} </div>
            } @else {
                <div class="col-sm-4 text-end" style="font-size: 12px;" [ngClass]="getClassVal(transaction)"> {{ transaction.amount }} </div>
            }
        </div>
    </div>
    }
    <div *ngIf="pendingDeliveries == null || pendingDeliveries.length == 0" class="no-trans-header">
        No deliveries are pending right now
    </div>
</div>

<context-menu #oneContextMenu [menuClass]="'app-pending-delivery-menu'">
    <ng-template contextMenuItem (execute)="markDeliveryOrder($event)" let-value>Unmark as Delivery Order</ng-template>
    <ng-template contextMenuItem (execute)="setOrderDelivered($event)" let-value>
        Set Order Delivered
    </ng-template>
</context-menu>