<form [formGroup]="form">
    <div class="row">
        <mat-form-field appearance="outline" class="col-sm-6 mt-3">
            <mat-label>Amount</mat-label>
            <input type="number" matInput placeholder="Enter Amount to Redeem" name="rdmAmt" min="1" formControlName="rdmAmt">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-6 mt-3">
            <mat-label>No. of Shares</mat-label>
            <input type="number" matInput placeholder="Enter No of Shares" name="rdmNoOfShares" formControlName="rdmNoOfShares" (keyup)="onChangeRedeemVal()" (change)="onChangeRedeemVal()">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="col-sm-6 mt-3">
            <mat-label>Redemption Date</mat-label>
            <input matInput [matDatepicker]="picker" name="rdmDate" formControlName="rdmDte" [max]="blockFutureDates">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-6 mt-3">
            <mat-label>Redemption Unit Price</mat-label>
            <input type="number" matInput placeholder="Enter Unit Price" name="rdmCMP" min="1" formControlName="rdmCMP" (keyup)="onChangeRedeemVal()" (change)="onChangeRedeemVal()">
        </mat-form-field>
    </div>
</form>